body {
	/* padding: 0.15in; */
	width: 99%;
	height: 100%;
}

hr {
	border-top: 0.5px solid black;
}

h1, h3 {
	font-family: "Roboto";
}

h1 {
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0.25em;
}

h4 {
	margin: 4px 0;
	font-family: "Droid Serif";
}

h1, h3 {
	text-transform: uppercase;
}

h3 {
	font-weight: 500;
	font-size: 1em;
	margin: 0;
}

table {
	border-collapse: collapse;
	margin:0;
}

.break-after {
	page-break-after: always;
}

.break-before {
	page-break-before: always;
}


.sig-box {
	padding: 0.25em;
	border: 0.5px solid black;
}

.container {
	display: flex;
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
	float: left;
}

.right {
	float: right;
	flex-grow: 1;
	text-align: right;
}

.left {
	float: left;
}

.half {
	width:50%;
}

.boxheader.tight {
	margin-top: 0;
}

.twothird {
	width: 66.66%;
}

.inline {
	display: inline-block;
}

.boxheader {
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.5em 0;
}

.databox {
	border: 0.5px solid black;
	border-top: 0;
	padding: 0.25em;
	background: white;
}

.datasection {
	display: table;
	background: black;
	margin-top: 1em;
	align-content: center;
}

.datasection .column {
	height: 100%;
}

.field {
	font-weight: bold;
}

.third {
	width: 33.33%;
}

p {
	margin: 0.25em 0;
}
