<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26624977471-efdmt99jd4c3nuek7e8ffr2v5rmng9dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26624977471-efdmt99jd4c3nuek7e8ffr2v5rmng9dd</string>
	<key>API_KEY</key>
	<string>AIzaSyAf4TU8ZdOhZbNSZg85jqbKQVBVLZTiqZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>26624977471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruina</string>
	<key>PROJECT_ID</key>
	<string>runia-75681</string>
	<key>STORAGE_BUCKET</key>
	<string>runia-75681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26624977471:ios:1535ace15bc9401ad7268a</string>
	<key>DATABASE_URL</key>
	<string>https://runia-75681.firebaseio.com</string>
</dict>
</plist>